.Footer-style{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title-footer{
  font-size: 5rem;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 20px;
    text-align: center;
}

.footer-section{
    flex: 1 1 200px;
    width: 250px;
}

.footer-section a,
.footer-section p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

/* Tablets */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .footer-section {
    width: 100%;
  }
}

/* Phones */
@media (max-width: 480px) {
  .Footer-style{
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  h1, h2, h3 {
    font-size: 1rem;
  }

  .title-footer{
    font-size: 3.5rem;
    align-items: center;
    text-align: center;
  }

  .footer-container {
    font-size: 0.9rem;
    padding: 1rem;
  }

  .footer-section {
    margin-bottom: 1rem;
  }
}
