.ProjectsPage-style{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-vertical {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  width: 100%;
}

.projects-row {
  display: flex;
  gap: 3rem;
  justify-content: center;
  width: 100%;
}

@media (max-width: 768px) {
  .projects-row {
    flex-direction: column;
    align-items: center;
  }
}
