/* estilo base*/
.base{
    background: #121212;
    background: linear-gradient(
        135deg,
        #121212 25%,
        #1a1a1a 25%,
        #1a1a1a 50%,
        #121212 50%,
        #121212 75%,
        #1a1a1a 75%,
        #1a1a1a
    );
    background-size: 40px 40px;
    animation: move 4s linear infinite;
    width: 100%;
    height: 90vh;
}
@keyframes move{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 40px 40px;
    }
}
/*estilo de previews*/
.small{
    background-color: #bba259;
    width: 100%;
    height: 8vh;
}

/*estilo del about*/
@keyframes hero-gradient-animation {
    0% {
        --c-0: hsla(266.99999999999983, 1%, 12%, 1);
        --x-0: 85%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --y-0: 80%;
        --c-1: hsla(335.9999999999997, 2%, 22%, 1);
        --y-1: 24%;
        --x-1: 60%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-2: 82%;
        --x-2: 13%;
        --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 24%;
        --y-3: 7%;
        --c-3: hsla(299, 4%, 36%, 1);
    }

    100% {
        --c-0: hsla(266.99999999999943, 0%, 12%, 1);
        --x-0: 31%;
        --s-start-0: 9%;
        --s-end-0: 55%;
        --y-0: 94%;
        --c-1: hsla(0, 4%, 19%, 1);
        --y-1: 25%;
        --x-1: 2%;
        --s-start-1: 5%;
        --s-end-1: 72%;
        --y-2: 20%;
        --x-2: 98%;
        --c-2: hsla(54.000000000000036, 0%, 0%, 0.49);
        --s-start-2: 5%;
        --s-end-2: 52%;
        --s-start-3: 13%;
        --s-end-3: 68%;
        --x-3: 95%;
        --y-3: 92%;
        --c-3: hsla(298.99999999999994, 3%, 41%, 1);
    }
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(266.99999999999983, 1%, 12%, 1)
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 85%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 9%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 55%
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 80%
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(335.9999999999997, 2%, 22%, 1)
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 60%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 72%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 82%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(53.999999999999886, 0%, 0%, 0.49)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 52%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 13%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 68%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 24%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(299, 4%, 36%, 1)
}

/*estilo de about*/
.medium {
    --c-0: hsla(266.99999999999983, 1%, 12%, 1);
    --x-0: 85%;
    --y-0: 80%;
    --c-1: hsla(335.9999999999997, 2%, 22%, 1);
    --y-1: 24%;
    --x-1: 60%;
    --y-2: 82%;
    --x-2: 13%;
    --c-2: hsla(53.999999999999886, 0%, 0%, 0.49);
    --x-3: 24%;
    --y-3: 7%;
    --c-3: hsla(299, 4%, 36%, 1);
    ;
    background-color: hsla(0, 0%, 0%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3));
    animation: hero-gradient-animation 10s linear infinite alternate;
    background-blend-mode: normal, normal, normal, normal;
    width: 100%;
    height: 125vh;
    font-weight: bold;
}

/*estilo original de los previews*/
.small_two{
    width: 100%;
    height: 8vh;
    background: linear-gradient(135deg, #0d1120 0%, #3a4b8a 43%, #0d1120 100%);
    background: linear-gradient(135deg, #fffffff5, #3a4b8a, #ffffff98);
}


/*estilo de los trabajos*/
.work{
    background-color: #111111;
    background-image: linear-gradient(
        32deg,
        rgba(8,8,8,0.74) 30px,
        transparent
    );
    background-size: 60px 60px;
    background-position: -5px -5px;
    width: 100%;
    height: 160vh;
    flex-direction: row,column,column;
    justify-content: center;
}

/*estilo de mision*/

.mision{
    background: #020202;
    font-weight: bold;
    width: 100%;
    height: 135vh;
    --s: 37px; 
    --c: #0000, #282828 0.5deg 119.5deg, #0000 120deg;
    --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
    --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
    --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
    background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
      var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
      var(--g3) 0 calc(1.73 * var(--s)) #1e1e1e;
    background-size: calc(2 * var(--s)) calc(3.46 * var(--s));
    border-bottom: 2px solid rgba(231, 231, 231, 0.678);
    }

/*estilo de tecnologias*/

/*.habilidades{
    background: #2c2c2e;
    font-size: small;
    width: 100%;
    height: 90vh;
    background: #000;
    background-image: radial-gradient(4px 100px at 0px 235px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 235px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 117.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 252px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 252px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 126px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 150px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 150px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 75px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 253px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 253px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 126.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 204px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 204px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 102px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 134px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 134px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 67px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 179px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 179px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 89.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 299px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 299px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 149.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 215px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 215px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 107.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 281px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 281px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 140.5px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 158px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 158px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 79px, #0f0 100%, #0000 150%),
        radial-gradient(4px 100px at 0px 210px, #0f0, #0000),
        radial-gradient(4px 100px at 300px 210px, #0f0, #0000),
        radial-gradient(1.5px 1.5px at 150px 105px, #0f0 100%, #0000 150%);
    background-size:
        300px 235px,
        300px 235px,
        300px 235px,
        300px 252px,
        300px 252px,
        300px 252px,
        300px 150px,
        300px 150px,
        300px 150px,
        300px 253px,
        300px 253px,
        300px 253px,
        300px 204px,
        300px 204px,
        300px 204px,
        300px 134px,
        300px 134px,
        300px 134px,
        300px 179px,
        300px 179px,
        300px 179px,
        300px 299px,
        300px 299px,
        300px 299px,
        300px 215px,
        300px 215px,
        300px 215px,
        300px 281px,
        300px 281px,
        300px 281px,
        300px 158px,
        300px 158px,
        300px 158px,
        300px 210px,
        300px 210px,
        300px 210px;
    animation: hi 150s linear infinite;
}
@keyframes hi {
    0% {
        background-position:
        0px 220px,
        3px 220px,
        151.5px 337.5px,
        25px 24px,
        28px 24px,
        176.5px 150px,
        50px 16px,
        53px 16px,
        201.5px 91px,
        75px 224px,
        78px 224px,
        226.5px 350.5px,
        100px 19px,
        103px 19px,
        251.5px 121px,
        125px 120px,
        128px 120px,
        276.5px 187px,
        150px 31px,
        153px 31px,
        301.5px 120.5px,
        175px 235px,
        178px 235px,
        326.5px 384.5px,
        200px 121px,
        203px 121px,
        351.5px 228.5px,
        225px 224px,
        228px 224px,
        376.5px 364.5px,
        250px 26px,
        253px 26px,
        401.5px 105px,
        275px 75px,
        278px 75px,
        426.5px 180px;
    }
    to {
        background-position:
        0px 6800px,
        3px 6800px,
        151.5px 6917.5px,
        25px 13632px,
        28px 13632px,
        176.5px 13758px,
        50px 5416px,
        53px 5416px,
        201.5px 5491px,
        75px 17175px,
        78px 17175px,
        226.5px 17301.5px,
        100px 5119px,
        103px 5119px,
        251.5px 5221px,
        125px 8428px,
        128px 8428px,
        276.5px 8495px,
        150px 9876px,
        153px 9876px,
        301.5px 9965.5px,
        175px 13391px,
        178px 13391px,
        326.5px 13540.5px,
        200px 14741px,
        203px 14741px,
        351.5px 14848.5px,
        225px 18770px,
        228px 18770px,
        376.5px 18910.5px,
        250px 5082px,
        253px 5082px,
        401.5px 5161px,
        275px 6375px,
        278px 6375px,
        426.5px 6480px;
    }
}
*/


.skills{
    width: 100%;
    height: 90vh;
    --s: 83px;
    --o: 0.5;
    --c1: rgba(244, 235, 208, var(--o));
    --c2: rgba(194, 178, 163, var(--o));

    background-image: linear-gradient(var(--c1) 50%, var(--c2) 50%),
        linear-gradient(45deg, var(--c1) 50%, var(--c2) 50%),
        linear-gradient(90deg, var(--c1) 50%, var(--c2) 50%),
        linear-gradient(135deg, var(--c1) 50%, var(--c2) 50%);
    background-size: var(--s) var(--s);
}


/*estilo del footer*/

.footer{
    background: #2c2c2e;
    font-size: small;
    width: 100%;
    height: 20vh;
    --color: rgba(114,114,114,0.3);
    background-color: #191a1a;
    background-image: linear-gradient(0deg, transparent 24%,
    var(--color) 25%, var(--color) 26%, 
    transparent 27%,transparent 74%, 
    var(--color) 75%, var(--color) 76%, 
    transparent 77%,transparent),
    linear-gradient(90deg, transparent 24%, 
    var(--color) 25%, var(--color) 26%, 
    transparent 27%,transparent 74%, 
    var(--color) 75%, var(--color) 76%, 
    transparent 77%,transparent);

    background-size: 55px 55px;
    animation: moveBackgroundd 40s linear infinite;
}

@keyframes moveBackgroundd {
    from{
        background-position: 0 0;
    }
    to{
        background-position: 100px 100px;
    }
}

/*texto del navbar*/

.text-shine{
    color: #5b5b5ba4;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0) 40%,
        rgba(255, 255, 255, 1) 50%,
        rgba(255, 255, 255, 0) 60%
    );
    background-size: 200% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: shine 5s linear infinite;
}

@keyframes shine {
    0%{
        background-position: -200%;
    }
    100%{
        background-position: 200%;
    }
}
.text-shine:hover{
    text-decoration: none;
}
.text-shine::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #bba259;
    display: block;
    transition: 0.5s;
}

.text-shine:hover::after{
    width: 100%;
}

.image-style{
    border: 2px solid #020202;
    box-shadow: 3px 3px 0px 0px  #4fc3f7;
    transition: 0.2s;
}
.image-style:hover{
    box-shadow: 6px 6px 0px 0px #4fc3f7;
    transform: translate(-3px, -3px);
    border: 2px solid #020202 ;
}

/*animacion de entrada 1*/
.animation-one {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

/*carta para los proyectos*/
.card{
    --background: linear-gradient(to left, #00eeff 0%, #0052e9 100%);
    width: 550px;
    height: 550px;
    border-radius: 2rem;
    padding: 2px;
    overflow: visible;
    background: #2bf7c4;
    background: var(--background);
    position: relative;
    z-index: 1;
}
.card::after{
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: var(--background);
    transition: all 0.8s ;
}
.card:hover::after{
    opacity: 0;
}
.card:hover{
    transition: color 1s;
}

.carta{
    width: 207px;
    height: 250px;
    border-radius: 20px;
    background-color: transparent;
    background-image: radial-gradient(
        at 88% 40%,
        hsla(240, 15%, 9%, 1) 0px,
        transparent 85%
    ),
        radial-gradient(at 49% 30%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 14% 26%, hsla(240, 15%, 9%, 1) 0px, transparent 85%),
        radial-gradient(at 0% 64%, hsl(189, 99%, 26%) 0px, transparent 85%),
        radial-gradient(at 41% 94%, hsl(189, 97%, 36%) 0px, transparent 85%),
        radial-gradient(at 100% 99%, hsl(188, 94%, 13%) 0px, transparent 85%);
    border-radius: 1rem;
    box-shadow: 0px -16px 24px 0px rgba(255, 255, 255, 0.25) inset;
    position: relative;
    padding: 0.30rem;
    border: 2px solid #c3c6ce;
    transition: 0.5s all ease-out;
    overflow: visible;
    
}

/*dentro de las cartas del proyecto*/
.carta-boton{
    font-family: 'Poppins' sans-serif;
    transform: translate(-50%, 125%);
    width: 60%;
    border-radius: 1rem;
    border: none;
    background-color: #008bf8;
    color: #fff;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: absolute;
    left: 50%;
    bottom: 0;
    opacity: 0;
    transition: 0.3s ease-out;
}

.carta-boton:hover{
    background-color: rgb(0, 80, 201);
}

.carta:hover{
    border-color: #008bf8;
    box-shadow: 0 4px 18px 0 rgba(25, 220, 255, 0.781);
}

.carta:hover .carta-boton{
    transform: translate(-50%, 50%);
    opacity: 1;
}




/* animacion de texto*/
/*
@keyframes blinkCursor{
    50%{
        border-right-color: transparent;
    }
}

@keyframes typeAndDelete{
    0%,
    10%{
        width: 0;
    }
    45%,
    55%{
        width: 15em;
    }
    90%,
    100%{
        width: 1;
    }
}

.text{
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2em solid greenyellow;
    animation: 
    typeAndDelete 6s steps(11) infinite,
    blinkCursor 0.9s step-end infinite alternate ;
    margin-top: 1.5em;
}

*/

/* animacion texto 2*/
.card-header {
    --bg-color: #212121;
    background-color: var(--bg-color);
    padding: 1rem 2rem;
    border-radius: 1.25rem;
}

.loader {
    color: rgb(255, 249, 249);
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 25px;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 8px;
    justify-content: start;
}

.words {
    overflow: hidden;
    position: relative;
}

.words::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
        var(--bg-color) 10%,
        transparent 30%,
        transparent 70%,
        var(--bg-color) 90%
    );
    z-index: 20;
}

.text-loading{
    display: block;
    height: 100%;
    padding-left: 6px;
    color: #008bf8;
    animation: spin_4991 4s infinite;
}

@keyframes spin_4991{
    10%{
        -webkit-transform: translateY(-102%);
        transform: translateY(-102%);
    }
    25%{
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    35%{
        -webkit-transform: translateY(-202%);
        transform: translateY(-202%);
    }
    50%{
        -webkit-transform: translateY(-200%);
        transform: translateY(-200%);
    }
    60%{
        -webkit-transform: translateY(-302%);
        transform: translateY(-302%);
    }
    75%{
        -webkit-transform: translateY(-300%);
        transform: translateY(-300%);
    }
    85%{
        -webkit-transform: translateY(-402%);
        transform: translateY(-402%);
    }
    100%{
        -webkit-transform: translateY(-400%);
        transform: translateY(-400%);
    }
}

.title-header{
    font-family: "Poppins", sans-serif;
    line-height: 1em;
    color: #008bf8;
    font-size: 2.5em;
    animation: wave 2s ease-in-out infinite;
}

@keyframes wave{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20%);
    }
}
.card-tec{
    --primary: #ff3e00;
    --primary-hover: #ff6d43;
    --secondary: #4d61ff;
    --secondary-hover: #5e70ff;
    --accent: #00e0b0;
    --text: #050505;
    --bg: #ffffff;
    --shadow-color: #000000;
    --pattern-color: #cfcfcf;
}

.card-technology{
    width: 115px;
    position: relative;
    background: #4d61ff;
    color: var(--bg);
    font-size: 0.9em;
    font-weight: 700;
    padding: 0.7em 1.2em;
    border: 0.2em solid var(--text);
    border-radius: 0.4em;
    box-shadow: 0.3em 0.3em 0 var(--shadow-color);
    cursor: pointer;
    transition: all 0.2s ease;
    overflow: hidden;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.card-technology::before{
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        90deg,
        transparent 0%,
        rgba(255,255,255, 0.2) 50%,
        transparent 100%
    );
    transition: left 0.6s ease;
}

.card-technology:hover{
    background: #008bf8;
    transform: translate(-0.1em, -0.1em);
    box-shadow: 0.4em 0.4em 0 #020202;
}

.card-technology:hover::before{
    left: 100%;
}

.card-technology:active{
    transform: translate(0.1em,0.1em);
    box-shadow: 0.15em 0.15em 0 #020202;
}

@keyframes hero-gradient-animation {
    0% {
        --y-0: 63%;
        --x-0: 93%;
        --s-start-0: 8.392121895570533%;
        --s-end-0: 38.584065253664996%;
        --c-0: hsla(217.59493670886076, 100%, 30%, 1);
        --c-1: hsla(0, 0%, 0%, 1);
        --x-1: 33%;
        --s-start-1: 8.392121895570533%;
        --s-end-1: 22.10878124098502%;
        --y-1: -7%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 22.558651527792346%;
        --y-2: 7%;
        --x-2: 84%;
        --y-3: 5%;
        --x-3: 14%;
        --s-start-3: 8.392121895570533%;
        --s-end-3: 22.558651527792346%;
        --c-3: hsla(0, 0%, 0%, 1);
        --x-4: 7%;
        --y-4: 96%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 22.558651527792346%;
        --c-4: hsla(0, 0%, 0%, 1);
        --s-start-5: 8.392121895570533%;
        --s-end-5: 22.558651527792346%;
        --y-5: 90%;
        --c-5: hsla(0, 0%, 0%, 1);
        --x-5: 93%;
        --x-6: 3%;
        --c-6: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-6: 8.392121895570533%;
        --s-end-6: 39.67138181429644%;
        --y-6: 61%;
        --x-7: 94%;
        --y-7: 59%;
        --s-start-7: 8.392121895570533%;
        --s-end-7: 49.58090142552271%;
        --c-7: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-8: 8.392121895570533%;
        --s-end-8: 34.815367581495366%;
        --y-8: 63%;
        --x-8: 48%;
        --c-8: hsla(217.68844221105527, 100%, 39%, 1);
        --s-start-9: 8.392121895570533%;
        --s-end-9: 31.77166380372925%;
        --c-9: hsla(217.59493670886076, 100%, 30%, 1);
        --y-9: 78%;
        --x-9: 96%;
    }

    50% {
        --y-0: 59%;
        --x-0: 2%;
        --s-start-0: 12.892043731642234%;
        --s-end-0: 42.94837818044209%;
        --c-0: hsla(217.59493670886076, 100%, 30%, 1);
        --c-1: hsla(0, 0%, 0%, 1);
        --x-1: 42%;
        --s-start-1: 8.392121895570533%;
        --s-end-1: 41.69445156991687%;
        --y-1: 10%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 20.488815899465003%;
        --y-2: 29%;
        --x-2: 75%;
        --y-3: 16%;
        --x-3: 5%;
        --s-start-3: 8.392121895570533%;
        --s-end-3: 30.099844327777923%;
        --c-3: hsla(0, 0%, 0%, 1);
        --x-4: 36%;
        --y-4: 91%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 24.59566937006635%;
        --c-4: hsla(0, 0%, 0%, 1);
        --s-start-5: 8.392121895570533%;
        --s-end-5: 24.59566937006635%;
        --y-5: 91%;
        --c-5: hsla(0, 0%, 0%, 1);
        --x-5: 70%;
        --x-6: 54%;
        --c-6: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-6: 9%;
        --s-end-6: 26.825849058644888%;
        --y-6: 73%;
        --x-7: 57%;
        --y-7: 76%;
        --s-start-7: 9%;
        --s-end-7: 49.05074977970796%;
        --c-7: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-8: 9;
        --s-end-8: 26.166345747226664%;
        --y-8: 53%;
        --x-8: 11%;
        --c-8: hsla(217.68844221105527, 100%, 39%, 1);
        --s-start-9: 9;
        --s-end-9: 22.152460022684956%;
        --c-9: hsla(217.59493670886076, 100%, 30%, 1);
        --y-9: 70%;
        --x-9: 70%;
    }

    100% {
        --c-1: hsla(0, 0%, 0%, 1);
        --x-1: 76%;
        --s-start-1: 8.392121895570533%;
        --s-end-1: 59.32232816638693%;
        --y-1: -3%;
        --c-2: hsla(0, 0%, 0%, 1);
        --s-start-2: 8.392121895570533%;
        --s-end-2: 28.52989037790774%;
        --y-2: 18%;
        --x-2: 97%;
        --y-3: 18%;
        --x-3: 42%;
        --s-start-3: 8.392121895570533%;
        --s-end-3: 28.52989037790774%;
        --c-3: hsla(0, 0%, 0%, 1);
        --x-4: 66%;
        --y-4: 95%;
        --s-start-4: 8.392121895570533%;
        --s-end-4: 28.52989037790774%;
        --c-4: hsla(0, 0%, 0%, 1);
        --s-start-5: 8.392121895570533%;
        --s-end-5: 28.52989037790774%;
        --y-5: 92%;
        --c-5: hsla(0, 0%, 0%, 1);
        --x-5: 46%;
        --x-6: 102%;
        --c-6: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-6: 24.72064437400016%;
        --s-end-6: 47.490620328604024%;
        --y-6: 16%;
        --x-7: 22%;
        --y-7: 52%;
        --s-start-7: 10.200720718860145%;
        --s-end-7: 50.46456494288142%;
        --c-7: hsla(279.7894736842105, 67%, 27%, 1);
        --s-start-9: 6.294132688184733%;
        --s-end-9: 20.79106730744014%;
        --c-9: hsla(217.5, 100%, 31%, 1);
        --y-9: 51%;
        --x-9: 97%;
    }
}

@property --y-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 63%
}

@property --x-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --s-start-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-0 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 38.584065253664996%
}

@property --c-0 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217.59493670886076, 100%, 30%, 1)
}

@property --c-1 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 33%
}

@property --s-start-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.10878124098502%
}

@property --y-1 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: -7%
}

@property --c-2 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --y-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --x-2 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 84%
}

@property --y-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 5%
}

@property --x-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 14%
}

@property --s-start-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-3 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --c-3 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 7%
}

@property --y-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 96%
}

@property --s-start-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-4 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --c-4 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --s-start-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 22.558651527792346%
}

@property --y-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 90%
}

@property --c-5 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(0, 0%, 0%, 1)
}

@property --x-5 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 93%
}

@property --x-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 3%
}

@property --c-6 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --s-start-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 39.67138181429644%
}

@property --y-6 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 61%
}

@property --x-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 94%
}

@property --y-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 59%
}

@property --s-start-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-7 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 49.58090142552271%
}

@property --c-7 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(279.7894736842105, 67%, 27%, 1)
}

@property --s-start-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 34.815367581495366%
}

@property --y-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 63%
}

@property --x-8 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 48%
}

@property --c-8 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217.68844221105527, 100%, 39%, 1)
}

@property --s-start-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 8.392121895570533%
}

@property --s-end-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 31.77166380372925%
}

@property --c-9 {
    syntax: '<color>';
    inherits: false;
    initial-value: hsla(217.59493670886076, 100%, 30%, 1)
}

@property --y-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 78%
}

@property --x-9 {
    syntax: '<percentage>';
    inherits: false;
    initial-value: 96%
}

.habilidades {
    width: 100%;
    height: 100vh;
    --y-0: 63%;
    --x-0: 93%;
    --c-0: hsla(217.59493670886076, 100%, 30%, 1);
    --c-1: hsla(0, 0%, 0%, 1);
    --x-1: 33%;
    --y-1: -7%;
    --c-2: hsla(0, 0%, 0%, 1);
    --y-2: 7%;
    --x-2: 84%;
    --y-3: 5%;
    --x-3: 14%;
    --c-3: hsla(0, 0%, 0%, 1);
    --x-4: 7%;
    --y-4: 96%;
    --c-4: hsla(0, 0%, 0%, 1);
    --y-5: 90%;
    --c-5: hsla(0, 0%, 0%, 1);
    --x-5: 93%;
    --x-6: 3%;
    --c-6: hsla(279.7894736842105, 67%, 27%, 1);
    --y-6: 61%;
    --x-7: 94%;
    --y-7: 59%;
    --c-7: hsla(279.7894736842105, 67%, 27%, 1);
    --y-8: 63%;
    --x-8: 48%;
    --c-8: hsla(217.68844221105527, 100%, 39%, 1);
    --c-9: hsla(217.59493670886076, 100%, 30%, 1);
    --y-9: 78%;
    --x-9: 96%;
    ;
    background-color: hsla(262, 82%, 3%, 1);
    background-image: radial-gradient(circle at var(--x-0) var(--y-0), var(--c-0) var(--s-start-0), transparent var(--s-end-0)), radial-gradient(circle at var(--x-1) var(--y-1), var(--c-1) var(--s-start-1), transparent var(--s-end-1)), radial-gradient(circle at var(--x-2) var(--y-2), var(--c-2) var(--s-start-2), transparent var(--s-end-2)), radial-gradient(circle at var(--x-3) var(--y-3), var(--c-3) var(--s-start-3), transparent var(--s-end-3)), radial-gradient(circle at var(--x-4) var(--y-4), var(--c-4) var(--s-start-4), transparent var(--s-end-4)), radial-gradient(circle at var(--x-5) var(--y-5), var(--c-5) var(--s-start-5), transparent var(--s-end-5)), radial-gradient(circle at var(--x-6) var(--y-6), var(--c-6) var(--s-start-6), transparent var(--s-end-6)), radial-gradient(circle at var(--x-7) var(--y-7), var(--c-7) var(--s-start-7), transparent var(--s-end-7)), radial-gradient(circle at var(--x-8) var(--y-8), var(--c-8) var(--s-start-8), transparent var(--s-end-8)), radial-gradient(circle at var(--x-9) var(--y-9), var(--c-9) var(--s-start-9), transparent var(--s-end-9));
    animation: hero-gradient-animation 15s linear infinite alternate-reverse;
    background-blend-mode: normal, normal, normal, normal, normal, normal, normal, normal, normal, normal;
}


.cont{
    position: relative;
    width: 190px;
    height: 254px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 12px;
    gap: 12px;
    border-radius: 8px;
    cursor: pointer;
}

.cont::before{
    content: '';
    position: absolute;
    inset: 0;
    left: -5px;
    margin: auto;
    width: 200px;
    height: 264px;
    border-radius: 10px;
    background: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100% );
    z-index: -10;
    pointer-events: none;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cont::after{
    content: "";
    z-index: -1;
    position: absolute;
    inset: 0;
    background: linear-gradient(-45deg, #fc00ff 0%, #00dbde 100% );
    transform: translate3d(0, 0, 0) scale(0.95);
    filter: blur(20px);
}
.cont p:not(.heading){
    font-size: 14px;
}
.cont p:last-child {
    color: #e81cff;
    font-weight: 600;
  }
  
  .cont:hover::after {
    filter: blur(30px);
  }
  
  .cont:hover::before {
    transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
  }

.icon{
    width: 100%;
    background: #0052e9;
    padding: 0.5rem;
    border-radius: 2rem;
    border: 0.5vmin solid #05060f;
    box-shadow: 3px 3px #4780fc;
    overflow: hidden;
    color: var(--bg-color);
    align-items: center;
    transition: all 0.2s ease-in-out;
}

.icon:hover{
    box-shadow: 0rem 0rem #05060f;
    translate: 1.5px 1.5px;
    border:0.5vmin solid #4780fc ;
}