.Home-style{      
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.Home-content{
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-home{
    width: 420px;
    height: auto;
    margin-bottom: 20px;
}

.content-home{
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
    text-align: center;
}


